.navbar ul{
	display: table;
	margin: 0 auto;
	width: 60%;
	list-style: none;
}

.top_item{
	display: table-cell; 
	text-align: center;
	padding: 0 10px 10px 0;
}

.user_info{
	width: 100%;
	z-index: 100;
	padding-top: 20px;
	background-color: black;
	color: white;
	text-align: right;
}

.navbar a{
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #777;
}

.navbar a:hover{
	color: white;
}

.navbar{
	margin-top: -20px;
	z-index: 1;
	background-color: black;
	padding: 10px 0 20px 0;
	border-bottom: 7px solid #428CE7;
}

#header_logo{
	display: block;
	margin: 0 auto 20px auto;
}

.dropdown ul { 
	padding: 0;
	width: 100px;
	background-color: white;
	visibility: hidden; 
	position: absolute;
	box-shadow: 1px 1px 5px #888888;
}

.dropdown ul>li>a{
		padding: 0 25px 0 25px;
}

.dropdown ul>li:hover{
	background-color: #428CE7;
	
}
